// Color palette
$primary-color: #017677		 	// Blue
$secondary-color: #FFFFFF		// White

.container
	max-width: 1200px
	margin: 0 auto
	padding: 0 30px

body
	background: $primary-color

header
	height: 80px
	width: 100%
	background: $primary-color

.middle
	background: $secondary-color
	padding: 15px 0

footer
	width: 100%
	background: $primary-color
	p
		text-align: center
		padding: 5px 0
		color: $secondary-color

.hamburger
	float: right
	.fa
		color: $secondary-color
		font-size: 26px
