// Color palette
$blue: #007676		 			// Blue
$magenta: #BE2746				// Magenta
$green: #007539					// Green

$gray-darkest: #383838	// Darkest gray
$gray-darker: #595959		// Darker gray
$gray-base: #888888 		// Base gray
$gray-light: #B8B8B8		// Light gray
$gray-lighter: #D8D8D8	// Lighter gray
$gray-lightest: #E8E8E8 // Lightest gray

.container
	max-width: 1200px
	margin: 0 auto
	padding: 0 30px

body
	background: $blue

header
	height: 80px
	width: 100%
	background: $blue

.middle
	background: $gray-lightest
	padding: 15px 0

footer
	width: 100%
	background: $blue
	p
		text-align: center
		padding: 5px 0
		color: $gray-lightest

.hamburger
	float: right
	.fa
		color: $gray-lightest
		font-size: 26px
