.hamburger
	float: right
	line-height: 60px
	
	.fa
		color: #FFF
		font-size: 26px

.big-button, .small-button
	background: $blue
	color: #FFF
	text-transform: uppercase
	font-weight: 600
	&:hover
		opacity: 0.5
		

.big-button
	padding: 15px 20px 
	font-size: 22px
	font-weight: 600

.small-button
	padding: 5px 10px
	font-size: 18px
	font-weight: 400

