body, html {
  height:  100%;
}

* {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $gray-darker;
  -webkit-font-smoothing: antialiased;

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .container-sm {
    width: 60%;
    margin: 0 auto;
  }

  .page {
    height: auto;
    min-height: 100%;
    width:100%;
  }

  .content {
    margin: 50px 0;
  }

  .well {
    background-color: $gray-lightest;
    padding: 20px;
    margin:30px 0;
  }
}
