body
	font-family: 'Source Sans Pro', sans-serif

header a
	color: $gray-lightest

a
	text-decoration: none

h1
	font-size: 48px
	font-weight: 300
	color: $gray-light

h2
	font-size: 36px
	font-weight: 400
	color: $gray-light

h3
	font-size: 18px
	font-weight: 400
	color: $gray-light

.brand
	margin: 0
	padding: 0
	line-height: 60px
	font-size: 36px
