@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,200);
$font-family: 'Source Sans Pro', sans-serif;

// Color palette
$blue: #007676;
$red: #BE2746;
$green: #007539;

$gray-darkest: #383838;
$gray-darker: #595959;
$gray-base: #888888;
$gray-light: #B8B8B8;
$gray-lighter: #D8D8D8;
$gray-lightest: #E8E8E8;
